/*cancerinfo.css*/
/* src/styles/CancerInfo.css */

.cancer-info-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:300px;
  }
  
  .cancer-info-container h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cancer-info-container h2 {
    font-size: 1.8rem;
    color: #34495e;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .cancer-info-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #7f8c8d;
    margin-bottom: 15px;
  }
  
  .cancer-info-container ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .cancer-info-container ul li {
    font-size: 1.1rem;
    color: #7f8c8d;
    margin-bottom: 8px;
  }
  